@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


.text {
    &--heading {
        font-size: 54px;
        font-family: Montserrat;
        text-transform: uppercase;
        font-weight: 900;
        margin: 0;
    }

    &--sub-heading {
        font-size: 35px;
        font-family: Montserrat;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        white-space: nowrap;
    }

    &--link {
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 300;
    }
}