@import './abstract/variable';
@import './abstract/mixins';
@import './abstract/utility';

@import './base/typography';

@import './component/nav';
@import './component/button';
@import './component/card';

@import './layout/container';
@import './layout/header';
@import './layout/footer';

body {
    background-color: $black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}