.container {
    display: flex;
    margin: 0 auto;
    width: 1200px;

    @include respond(tab-land) {
        margin: 0 0;
        padding: 0 32px;
    }
}

.section {
    &__about {
        padding: 40px 0;;

        & > .container {
            justify-content: space-between;
            align-items: center;
        }

        &--intro-photo {
            height: 60vh;
        }

        &--intro {
            width: min-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
            text-align: left;
        }
    }
}